<?xml version="1.0" encoding="UTF-8"?>
<div>
    <h1>Welcome</h1>

     <h2>Members</h2>
    <!-- If there are no members registered, instead of showing the table, we show a simple message. -->
    <em ng-show="membersEntity.length == null">No registered members.</em>
    <table ng-hide="membersEntity.length == null" class="simpletablestyle">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Name</th>
                <th>country</th>
            </tr>
        </thead>
        <!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
        <tr ng-repeat="member in membersEntity | orderBy:orderBy">
            <td>{{member.rowKey}}</td>
            <td>{{member.name}}</td>
            <td>{{member.partitionKey}}</td>
            </tr>
    </table>
    <div>
        REST URL for all members: <a href="rest/members">/rest/members</a>
    </div>
    <div>
        <!-- The table has a button to manually refresh the values, in case, for example, someone else adds a member -->
        <input type="button" ng-click="refresh()" name="refresh"
            id="refresh" value="Refresh" />
    </div>    
</div>